@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  z-index: 1;
  background: linear-gradient(-45deg, red, rgb(34, 163, 163), rgb(69, 69, 195), purple);
  background-size: 400% 400%;
  width: 100%;
  height: 100vh;
  animation: animate 15s ease infinite;
  transition: all;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Background Animation keyframes */

@keyframes animate {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Navbar */

.nav {
  background-color: rgba(6, 35, 64, 0.44);
}

item {
  width: max-content;
  position: relative;
}

item::after {
  content: "";
  position: absolute;
  bottom: 5px;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: -15px;
  background-color: #fff;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

item:hover::after {
  transform: scaleX(1);
}

span {
  transition: 0.3s ease-in-out;
}

item:hover .ChevronDownIcon {
  transform: rotate(-180deg);
  transition: 0.3s ease-in-out;

}

/* Glass Effect */

.glass-effect {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}